<h4>public_customer_edit</h4>
<div class="container ppp-customer-edit col-lg-8">
  <div class="row">
    <h2 class="page-name">ユーザー情報</h2>
  </div>

  <div class="row">
    <%= form_with model: @customer, url: public_customer_path, method: :patch do |f| %>
    <table class="mx-auto">
      <tr>
        <th>アイコン画面</th>
        <td><%= f.file_field :image, accept: "image/*" %></td>
      </tr>
      <tr>
        <th>ユーザー名</th>
        <td><%= f.text_field :user_name, class: 'form-control' %></td>
      </tr>
      <tr>
        <th>自己紹介文</th>
        <td><%= f.text_area :introduction, class: 'form-control' %></td>
      </tr>
    </table>
    <div class="btn-customer">
      <% unless current_customer.email == "guest@example.com" %>
        <%= f.submit "変更" , class: "btn btn-primary"%>
      <% end %>
    </div>
    <% end %>
  </div>
</div>