<div class="container ppp-inf-edit  col-lg-8">
  <div class="row">
    <h2 class="page-name">会員情報編集画面</h2>
  </div>

  <div class="row">
    <%= form_with model: @customer, url: public_customer_inf_update_path, method: :patch do |f| %>
    <table  class="table table-hover table-inverse col-md-12 px-auto">
        <tr>
          <th><%= f.label :名前 %></th>
          <td><%= f.label :（性） %></td>
          <td><%= f.text_field :first_name, autofocus: true, autocomplete: "first_name" %></td>
          <td><%= f.label :（名） %></td>
          <td><%= f.text_field :last_name, autofocus: true, autocomplete: "last_name" %></td>
        </tr>

        <tr>
          <th><%= f.label :フリガナ %></th>
          <td><%= f.label :（セイ） %></td>
          <td><%= f.text_field :first_name_kana, autofocus: true, autocomplete: "first_name_kana" %></td>
          <td><%= f.label :（メイ） %></td>
          <td><%= f.text_field :last_name_kana, autofocus: true, autocomplete: "last_name_kana" %></td>
        </tr>

        <tr>
          <th><%= f.label :メールアドレス %></th>
          <td></td>
          <td><%= f.email_field :email, autofocus: true, autocomplete: "email" %></td>
          <td></td>
          <td></td>
        </tr>

        <tr>
          <th><%= f.label :電話番号（ハイフンなし） %></th>
          <td></td>
          <td><%= f.telephone_field :telephone_number, autocomplete: "telephone_number" %></td>
          <td></td>
          <td></td>
        </tr>

        <tr>
          <th><%= f.label :パスワード %><% if @minimum_password_length %>
                                        <em>(<%= @minimum_password_length %> 文字以上)</em>
                                        <% end %></th>
          <td></td>
          <td><%= f.password_field :password, autocomplete: "new-password" %></td>
          <td></td>
          <td></td>
        </tr>

        <tr>
          <th><%= f.label :パスワード（確認用） %></th>
          <td></td>
          <td><%= f.password_field :password_confirmation, autocomplete: "new-password" %></td>
          <td></td>
          <td></td>
        </tr>

        <tr>
          <th></th>
          <td></td>
          <td><%= f.submit "会員情報変更" , class: "btn btn-sm btn-success" %></td>
          <td></td>
          <td></td>
        </tr>
      </table>
    <% end %>