<div class="container ppp  col-lg-8">
  <div class="row">
    <div class="search-form px-auto">
      <%= form_with url: search_public_customers_path, method: :get, local: true do |f| %>
        <%= f.text_field :keyword, value: @keyword %>
        <%= f.submit "検索" %>
      <% end %>
    </div>
  </div>

  <% @customers.each do |customer| %>
    <div class="row post">
      <div class="photo">
        <%=link_to public_customer_path(customer) do %>
          <% if customer.image.attached? %>
            <%= image_tag customer.image, size: "100x100" %>
          <% else %>
            <%= image_tag 'no_image', size: "100x100" %>
          <% end %>
        <% end %>
      </div>

      <div class="user-name">
        <%= customer.user_name %>
      </div>
    </div>
  <% end %>
</div>