<div class="container">
  <div class="row">
    <div class="search-form mx-auto">
      <%= form_with url: search_public_customers_path, method: :get, local: true do |f| %>
        <%= f.text_field :keyword, value: @keyword %>
        <%= f.submit "検索" %>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="post-list">
      <% @customers.each do |customer| %>
        <%=link_to public_customer_path(customer) do %>
          <% if customer.image.attached? %>
            <%= image_tag customer.image, size: "100x100" %>
          <% else %>
            <%= image_tag 'no_image', size: "100x100" %>
          <% end %>
        <% end %>

        <%= customer.user_name %>
      <% end %>
    </div>
  </div>
</div>