<div class="container ppp col-lg-8">
  <div class="row">
    <div class="i_con">
      <%=link_to admin_customer_path(@post) do %>
        <% if @post.customer.image.attached? %>
          <%= image_tag @post.customer.image, size: "50x50" %>
        <% else %>
          <%= image_tag 'no_image', size: "50x50" %>
        <% end %>
      <% end %>
    </div>

    <div class="user-name">
      <%= @post.customer.user_name %>
    </div>

    <div class="shop-name col-lg-12">
      <h2><%= @post.shop %></h2>
    </div>

    <div class="photo">
      <% if @post.image.attached? %>
        <%= image_tag @post.image, size: "400x400" %>
      <% else %>
        <%= image_tag 'no_image', size: "400x400" %>
      <% end %>
    </div>

    <div class="text col-lg-12">
      <%= @post.text %>
    </div>

    <div class="btn-delete">
      <%= link_to "投稿削除", admin_post_path(@post.id), method: :delete, data:{confirm: " [確認]　削除しますか?"}, class: 'btn col-lg-12 btn-outline-dark' %>
    </div>
  </div>

  <div class="row">
    <h3>コメント</h3>
  </div>
  <div class="row">
    <div class="comment col-lg-12">
      <table class="table table-hover table-inverse col-md-12 px-auto">
        <thead class="text-center">
          <tr>
            <th>コメント投稿者</th>
            <th>コメント内容</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @comments.each do |comment| %>
            <tr>
              <td><% if comment.customer.image.attached? %>
                    <%= image_tag comment.customer.image, size: "50x50" %>
                  <% else %>
                    <%= image_tag 'no_image', size: "50x50" %>
                  <% end %>
                  　　<%= comment.customer.user_name %></td>
              <td><%= comment.comment %></td>
              <td class="text-center"><%= link_to "削除", public_post_comment_path(@post, comment), method: :delete %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>







